
.ingredients-container{
    background: darkslategrey;
}
.dialog-title{
    color: var(--bg-light-color);
}
.ingredient-title{
    color: var(--btn-bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
}
.ig{
    width: 80%;
}
.wg{
    width: 20%;
    text-align: right;
}
.ingredient-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ingredient-name{
    width: 80%;
    color: var(--card-bg-color);
}
.ingredient-weight{
    width: 20%;
    text-align: right;
    color: var(--bg-light-color);
    font-style: italic;
}
